<div class="row h-100">
    <div class="col-6 d-flex justify-content-center align-items-center px-5">
        <div class="card card-left border-0 bg-transparent">
            <div class="card-header border-0 bg-transparent text-uppercase second-color pb-0">
              Lorem ipsum
            </div>
            <div class="card-body">
              <p class="card-title main main-color lh-sm pb-2"><span class="text-primary">Lorem ipsum </span>dolor sit amet consectetur</p>
              <p class="card-text second-color">Suspendisse aliquam tellus ante, porttitor mattis diam eleifend quis. Pellentesque pulvinar commodo eros sit amet finibus. Aenean et ornate erat.</p>
              <button class="btn text-uppercase text-white px-3">Action</button>
            </div>
          </div>
    </div>
    <div class="row col-6 d-flex py-5">
        <div class="col-6">
            <div class="card p-4" style="height: 35vh;">
              <div class="card-img bgc-1 d-flex justify-content-center align-items-center mb-3">
                <fa-icon [icon]="faBuilding" class="c-1"></fa-icon>
            </div>
                <div class="card-body p-0">
                  <h5 class="card-title main-color lh-base">Ut dui neque, volutpat ac erat quis, lobortis.</h5>
                  <p class="card-text second-color">In eget ligula ut est interdum finibus. Etiam consectetur, libero tincidunt vulputate fermentum.</p>
                </div>
              </div>
        </div>
        <div class="col-6 align-self-center">
            <div class="card p-4" style="height: 35vh;">
                <div class="card-img bgc-2 d-flex justify-content-center align-items-center mb-3">                   
                    <fa-icon [icon]="faBuilding" class="c-2"></fa-icon>
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title main-color lh-base">Ut dui neque, volutpat ac erat quis, lobortis.</h5>
                    <p class="card-text second-color">In eget ligula ut est interdum finibus. Etiam consectetur, libero tincidunt vulputate fermentum.</p>
                  </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card p-4" style="height: 35vh;">
                <div class="card-img bgc-3 d-flex justify-content-center align-items-center mb-3">
                  <fa-icon [icon]="faBuilding" class="c-3"></fa-icon>
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title main-color lh-base">Ut dui neque, volutpat ac erat quis, lobortis.</h5>
                    <p class="card-text second-color">In eget ligula ut est interdum finibus. Etiam consectetur, libero tincidunt vulputate fermentum.</p>
                  </div>
              </div>
        </div>
        <div class="col-6 col-6 align-self-center">
            <div class="card p-4" style="height: 35vh;">
                <div class="card-img bgc-4 d-flex justify-content-center align-items-center mb-3">
                  <fa-icon [icon]="faBuilding" class="c-4"></fa-icon>
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title main-color lh-base">Ut dui neque, volutpat ac erat quis, lobortis.</h5>
                    <p class="card-text second-color">In eget ligula ut est interdum finibus. Etiam consectetur, libero tincidunt vulputate fermentum.</p>
                  </div>
              </div>
        </div>
    </div>
</div>
