.card-left {
    width: 85%;
    .main {
        font-size: 3.6vw;
    }
}
.btn {
    background-color: #efac0c;
    font-size: 1.4vw;
}

.card-img {
    width: 3vw;
    height: 3vw;
    border-radius: 5px;
}

.bgc-1 {
    background-color: #bbdefb;
    .c-1 {
        color: #1e88e5;
    }
}
.bgc-2 {
    background-color: #c8e6c9;
    .c-2 {
        color: #43a048;
    }
}
.bgc-3 {
    background-color: #fff9c4;
    .c-3 {
        color: #f9a825;
    }
}
.bgc-4 {
    background-color: #e1bee7;
    .c-4 {
        color: #8d25aa;
    }
}